@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto+Slab:wght@200&display=swap');

/* font-family: 'Edu TAS Beginner', cursive;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', cursive;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar{
    background-image: url(../img/fondo1.jpg);
}

.navbar-brand{
    font-size: 25px;
    
}

.navbar-toggler i{
    font-size: 30px;
}

.nav-link{
    padding-left: 25px;
    text-transform: capitalize;
    font-size: 20px;
}

h1{
    background-image: url(../img/fondo1.jpg);
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 0px;
    padding: 10px;
}

.item{
    height: 300px;
    border: 5px solid orange;
}

.item1{
    background-image: url(../img/escritoriosilla.jpg);
    background-size: cover;
    background-position: center;
}

.item2{
    background-image: url(../img/mesacuadrada.jpg);
    background-size: cover;
    background-position: center;
}

.item3{
    background-image: url(../img/sillamesa.jpg);
    background-size: cover;
    background-position: center;
}

.item4{
    background-image: url(../img/sofa.jpg);
    background-size: cover;
    background-position: center;
}

h2{
    font-size: 25px;
    text-transform: capitalize
}

.textdestacado{
    margin: 20px;
    padding-top: 50px;
    color: #fff;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    font-size: 15px;
    transition: all 0.9s;
}

.textdestacado:hover{
    transform: scale(1.1);
}

footer {
    padding: 10px;
    background-image: url(../img/fondo1.jpg);
    text-align: center;
    color: #efefef;
}

footer p{
    margin: 0px;
    font-size: 15px;
    color: #fff;
}

.cuerpo{
    
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.nleft{
    width: 100%;
    min-height: 500px;
    border: 5px solid #efefef;
    border-radius: 5px;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/16/15/25/christmas-1911637_640.jpg");
    background-size: contain;
    background-position: center;
}

.nright{
    width: 100%;
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 0px 10px;
    color: #fff;
}

.nright p{
    margin: 0px;
}

.nright h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.nright2{
    width: 100%;
    margin: 0px;
    padding: 15px;
    font-size: 15px;
    text-shadow: 0px 0px 10px;
    color: #fff;
}

.enumeracion{
    margin: 30px;
    text-align: left;
    font-size: 18px;
    color: #efefef;
    font-weight: bolder;
}