@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto+Slab:wght@200&display=swap');

/* font-family: 'Edu TAS Beginner', cursive;
font-family: 'Roboto Slab', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', cursive;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    background-image: url(../img/fondo1.jpg);
}

.navbar-brand {
    font-size: 25px;

}

.navbar-toggler i {
    font-size: 30px;
}

.nav-link {
    padding-left: 25px;
    text-transform: capitalize;
    font-size: 20px;
}

h1 {
    background-image: url(../img/fondo1.jpg);
    border: 5px solid #efefef;
    text-shadow: 0px 0px 5px black;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 0px;
    padding: 15px;
}

.cuerpo {

    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.item {
    border: 5px solid orange;
    border-radius: 5px;
}

h2 {
    font-size: 25px;
    text-transform: capitalize
}

.textdestacado {
    padding: 20px;
    color: #fff;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    font-size: 15px;
    transition: all 0.9s;
}

.textdestacado:hover {
    transform: scale(1.1);
}

footer {
    padding: 10px;
    background-image: url(../img/fondo1.jpg);
    text-align: center;
    color: #efefef;
}

footer p {
    margin: 0px;
    font-size: 15px;
    color: #fff;
}

.contacto {

    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.campo {
    width: 300px;
}

.rleft a {
    font-size: 25px;
    color: #efefef;
    text-decoration: none;
    text-align: center;
}

.rleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.rright {
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 0px 10px;
    color: #fff;
}

.nleft {
    width: 100%;
    min-height: 250px;
    border: 5px solid #efefef;
    border-radius: 5px;
    background-image: url("https://cdn.pixabay.com/photo/2022/07/02/14/07/women-7297355_1280.jpg");
    background-size: cover;
    background-position: center;
}

.nright {
    width: 100%;
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 0px 10px;
    color: #fff;
}

.nright p {
    margin: 0px;
}

.nright h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.nright2 {
    width: 100%;
    margin: 0px;
    padding: 15px;
    font-size: 15px;
    text-shadow: 0px 0px 10px;
    color: #fff;
}

.enumeracion {
    margin: 30px;
    text-align: left;
    font-size: 18px;
    color: #efefef;
    font-weight: bolder;
}

.produ {
    border: 5px solid orange;
    padding: 20px;
    color: #fff;
    text-shadow: 0px 0px 15px black;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
}

.listaproducto ul li {
    list-style-type: circle;
    text-align: justify;
}

.encargar {
    background-color: rgb(149, 1, 1);
    padding: 5px;
    border-radius: 10px;
    color: #efefef;
    text-transform: capitalize;
    font-size: 24px;
}

.encargar:hover {
    color: rgb(130, 47, 47);
}